*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body{
    font-family: 'Inter', sans-serif;
    color: #000000;
    overflow-x: hidden;
    width: 100%;
}

.page-header{
    background: #000000;
    display: flex;
    justify-content: center;
    padding: 28px 0;
    

}


    .main-banner-desktop,
    .main-banner-mobile,
    .middle-banner {
        width: 100%;
        display: block;

    }
    
    @media screen and (max-width: 414px) {
        .main-banner-desktop {
            display: none;
        }


        .bottom-infocard-img-mobile{
            margin-bottom: 50px;
        }

    }

     

    @media screen and (min-width: 415px) {
        .main-banner-mobile {
            display: none;
        }
    } 





    .top-infocard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 80px 0 96px;
    }

    .top-infocard-text{
        max-width: 766px ;
        text-align: center;
        margin: 0 0 66px;
        
    }

    .top-infocard-subtitulo{
        text-transform: uppercase;
        font-weight: 400;
        font-size: 32px;
        
        
        
    }

    .top-infocard-titulo{
        margin-bottom: 24px;
        text-transform: uppercase;
        font-size: 48px;
        font-weight: 500;
        
    }

    
    
    
    .top-infocard-paragrafo{
        Font-size: 16px;
        line-height: 24px; 
        text-align: left;
        
    }
    
    @media screen and (max-width: 412px) {
        .top-infocard-subtitulo{
            font-size: 20px;
        }
        
        .top-infocard-titulo{
            font-size: 28px;
        }

        .top-infocard-paragrafo{
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            padding: 0 30px;
            
        }

        .middle-banners{
            height: 484px;
        }

    }
    .top-infocard-imagem{
        width: 100%;
        max-width: 240px;

}

    .top-cards{
        display: grid;
        grid-template-columns: repeat(3, max-content);
        gap: 20px;
        justify-content: center;
        padding: 74px;
        margin-bottom: 80px; 
        

    }
    

    .top-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 26px 26px 34px;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
    }

    .top-card-img {
        display: block;
        margin-bottom: 26px;

    }

    .top-card-paragrafo{
    max-width: 300px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    }

    
    @media screen and (max-width:768px) {
    .top-cards {
        grid-template-columns: 1fr;
        padding: 36px 26px;   
    }

}
    @media screen and (min-width: 769px) and (max-width: 1200px) {

        .top-cards {
            grid-template-columns: repeat(2, max-content);
            flex-direction: column;
    
        }
     }
    


        .middle-banners{
        display: grid;
        grid-template-columns: repeat(3, max-content);
        justify-content: center;
        background: #E0E0E0;
        height: 316px;
        
        

}

    .middle-wraper{
        position: relative;
        top: 64px; 
         

    }

    .middle-banner-desktop {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        gap: 32px;
        margin: 0 auto;
        
        
    }

    .middle-banner-img-desktop{
        width: 100%;
        max-width: 400px;
        object-fit: cover;
        
        
    }

    .middle-banner  {
        display: block;
        margin-bottom: 26px;


}




    .bottom-cards{
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        padding: 138px 0;
        background: #fff;
        margin-top: 138px;


    
}

    .bottom-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 26px 26px 34px;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
    }

    .bottom-card-img {
        display: block;
        margin-bottom: 26px;

}

    .bottom-card-paragrafo{
        max-width: 350px;
        text-align: center;
        
        font-size: 16px;
        line-height: 24px;
    }


    @media screen and (max-width: 414px) {
        .bottom-infocard-flex {
            flex-direction: column;

        }

    }
    
    


    @media screen and (min-width: 415px) {
        .bottom-infocard-img-mobile{
        display: none;
        }
    }

    @media screen and (max-width: 414px) {
        .bottom-infocard-img{
            display: none;
        }
    }


    

    @media screen and (max-width: 768px){
    .bottom-cards {
        flex-direction: column;
        grid-template-columns: 1fr;
        padding: 80px 23px;

    }
}

    .bottom-infocard{
        display: flex;
        flex-direction: column;
        padding: 80px 0 136px;
        align-items: center;
        justify-content: center;
    }

    .bottom-infocard-img{
        
        margin:0 0 50px;
        width: 100%;
        margin-top: 32px;
        align-items: center;
        justify-content: center;
        padding: 0 300px 0;
        
    }

    /*.bottom-infocard-img-mobile{
        display: none;
    }*/

    .bottom-infocard-texto{

        flex-direction: column;
        text-align: center;

    }

    .bottom-infocard-titulo{
        text-align: center;
        margin-bottom: 18px;
        font-weight: 600;
        font-size: 32px;
        line-height: 20px;
    }

    .bottom-infocard-paragrafo{
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        max-width: 550px;
        text-align: center;
        color: #000000;
        padding: 0 30px;

    }


    @media screen and (max-width: 415px) {

        .bottom-infocard{
            flex-direction: column;
            padding: 80px 0 136px;
        }
    
        .bottom-infocard-img{
            margin:0 0 50px;
            width: 100%;
            max-width: 596px;
            display: none;
            
        }
    
        .bottom-infocard-texto{
            padding: 0 26px;
        }
    
        .bottom-infocard-titulo{
            font-size: 24px;
        }
    }




    .page-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 38px 0;
        background: #000000;
    }
    
       .footer-icons{
           display: flex;
           list-style: none;
           margin-bottom: 16px;
           align-items: center;
       }
    
    
       .footer-icon{
           margin: 0 8px;
       }
     
       
    
       .footer-texto{
           text-transform: uppercase;
           line-height: 12px;
           font-size: 10px;
           color: #BDBDBD;
       }

       @media screen and (max-width: 412px){
        .footer-texto{
            max-width: 280px;
            text-align: center;

        }

       }

        
    .middle-banner-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        max-width: 368px;
        margin: 0 auto;

    }
     
    
    @media screen and (min-width: 415px) {
        .middle-banner-mobile {
            display: none;
        }
    }


    .middle-banner-img-mobile-3{
        max-width: 372px;
    }


    .middle-banner-mobile1{
        display: flex;
        gap: 14px;
    }


    .middle-banner-img-mobile{
        max-width: 177px;
        display: block;
        
    }
    
    @media screen and (max-width:414px){
    .main-banner-desktop,
    .middle-banner-desktop {
        display: none;
        }
    }

    